{% load staticfiles %}

{% include 'base/header.html' %}

  <style>
    @media (min-width: 992px){
      .file {
          width: 15% !important;
      }
    }
  </style>
  <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>



    <div class="ExplorerListPage settingPage">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="title-bar">
                    <h1 class="title-bar-title">
                      <span class="d-ib">{{context.title}}</span>
                    </h1>
                </div>
                <div class="row gutter-xs">
                    <div class="col-xs-12">
                        <div class="panel m-b-lg">
                          <div class="tab-content">
                            <div class="tab-pane fade active in" id="home-11">

                              <div class="col-sm-12 col-md-12">
                                <div class="demo-form-wrapper">


                                     {% if form.errors %}


				                      {% for field in form %}
				                          {% for error in field.errors %}
				                              <p style="color:red;text-align: center; margin:0px">
				                                  <span>{{ error|escape }}</span>
				                              </p>
				                          {% endfor %}
				                      {% endfor %}

				                      {% for error in form.non_field_errors %}
				                         <p style="color:red;text-align: center; margin:0px">
				                              <span>{{ error|escape }}</span>
				                          </p>
				                      {% endfor %}

				                     {% endif %}

				                      {% if messages %}
				                      {% for message in messages %}
				                      <p style="color:green;text-align: center;">{{message}}</p>
				                   {% endfor %}
				                  {% endif %}
                              {% if succ_messages %}
                                <p style="color:green;text-align: center;">{{succ_messages}}</p>
                              {% endif %}

                                  <form class="form form-horizontal"  method="POST" enctype='multipart/form-data'>{% csrf_token%}

                                    <div class="col-sm-10 col-md-10">

                                      <div class="form-group">
                                        <div class="col-md-12">
                                          <!-- <label for="about" class="control-label">About Us</label> -->
                                          <textarea id=""  class="form-control" rows="5" name="servicedesc" required>
                                          {{context.content}}
                                          </textarea>
                                          <script>
							                CKEDITOR.replace( 'servicedesc' );
							              </script>
                                        </div>
                                      </div>
                                      <!-- <div class="form-group">
                                        <div class="col-md-12">
                                          <label for="about" class="control-label">Terms &amp; Conditions</label>
                                          <textarea id="" name="terms" class="form-control" rows="5" required>{{terms}}
                                          </textarea>
                                          <script>
							                CKEDITOR.replace( 'terms' );
							              </script>
                                        </div>
                                      </div> -->

                                      <!-- <div class="form-group">
                                        <div class="col-md-12">
                                          <label for="about" class="control-label">Contact Us</label>
                                          <textarea id="" name="contact_us" class="form-control" rows="5" required>{{contact_us}}
                                          </textarea>
                                          <script>
							                CKEDITOR.replace( 'contact_us' );
							              </script>
                                        </div>
                                      </div> -->
                                      <input type="hidden" name="id" value="{{id}}">
                                      <div class="form-group">
                                          <div class=" col-sm-8 col-md-8">
                                              <button type="submit" class="btn btn-primary">Save</button>
                                          </div>
                                      </div>
                                    </div>
                                  </form>

                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>





{% include 'base/footer.html' %}
