{% load staticfiles %}
<!doctype html>
<html lang="zxx">
<head>
  <!-- All Meta -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- page title -->
  <title>PropInfoShare</title>
   <meta name="description" content="Searching for online cab booking app? Laari Cabs is the best app that provides car booking services for city, outstation, airport & also provides rental car booking at very effective price. Get 24*7 support & cashless rides at a very effective price. Download the App Now!!">
  <!-- Favicon -->
  <link rel="shortcut icon" href='{ % static "assets/img/favicon.png" % }' type="image/x-icon">
  <!--All Css here -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400, 500, 700&display=swap">
  <link rel="stylesheet" type="text/css" href='{% static "assets/css/animate.min.css" %}'>
  
  
  <link rel="stylesheet" type="text/css" href='{% static "assets/css/bootstrap-datepicker.css" %}'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href='{% static "assets/icons/font-awesome/css/font-awesome.min.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "assets/css/style.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "assets/css/responsive.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "assets/css/hover.css" %}'>
</head>
<body>
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
      your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- Start Preloader Area-->
  
  <!-- Start header area -->
  <header id="header-area">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#"><img src='{% static "assets/img/logo.png" %}' class="img-fluid"></a>
      </div>
    </nav>
  </header>
  <section class="service section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form enctype="multipart/form-data" method="POST" class="post-form" id="my_sign_up_form">
            {% csrf_token %}
            <div class="signup-form">
              <h5>Signup</h5>
              <div class="form-group">
                {{form.username}}
<!--                <input type="text" class="form-control" name="username" placeholder="User name" value="{{username}}">-->
              </div>
              <div class="form-group">
                {{form.company_name}}
<!--                <input type="text" class="form-control" name="company_name" placeholder="Company name" value="{{company_name}}">-->
              </div>
              <div class="form-group">
                {{form.password}}
<!--                <input type="text" class="form-control" name="password" placeholder="Password" value="{{password}}">-->
              </div>
              <div class="form-group">
                {{form.confirm_password}}
<!--                <input type="text" class="form-control" name="confirm_password" placeholder="Confirm password" value="{{confirm_password}}">-->
              </div>
              <div class="form-group">
                {{form.profile_image}}
<!--                <input type="file" class="form-control" name="profile_image" placeholder="Choose image" value="{{profile_image}}">-->
              </div>
              <!-- <div class="form-group add-pic">
                <img class="imagefile" src="">
                <input class="hide-me" id="my-img" type="file">
                <label for="my-img">
                  <a class="btn btn-simple btn-block"><i class="fa fa-image"></i> ADD PICTURE</a>
                </label>
              </div> -->
              <div class="form-group">
                {{form.address_line1}}
<!--                <input type="text" class="form-control" name="add_line1" placeholder="Address Line 1" value="{{address_line1}}">-->
              </div>
              <div class="form-group">
                {{form.address_line2}}
<!--                <input type="text" class="form-control" name="add_line2" placeholder="Address Line 2" value="{{address_line2}}">-->
              </div>
              <div class="form-group">
                {{form.address_line3}}
<!--                <input type="text" class="form-control" name="add_line3" placeholder="Address Line 3" value="{{address_line3}}">-->
              </div>
              <div class="form-group">
                {{form.description}}
<!--                <textarea rows="5" class="form-control" placeholder="Description"></textarea>-->
              </div>
              <div class="form-group">
                {{form.bussiness_area}}
<!--                <select class="form-control">-->
<!--                  <option>Select Business Area</option>-->
<!--                <option>Architecture</option>-->
<!--                <option>Design Agency/Office</option>-->
<!--                <option>Engineering Office</option>-->
<!--                <option>Photo Studio</option>-->
<!--                <option>Manufacturer</option>-->
<!--                <option>Craftsman Company</option>-->
<!--                <option>Teaching Institution</option>-->
<!--                </select>-->

              </div>
              <div class="form-group">
                {{form.year_of_foundation}}
<!--                <input type="text" name="year" placeholder="Year of founding" class="yearselect form-control">-->
<!--                <button class="btn -in"><i class="fa fa-calendar"></i></button>-->
            </div>
            <div class="form-group">
              {{form.lat}}
<!--              <input type="text" class="form-control" name="username" placeholder="Lat">-->
            </div>
            <div class="form-group">
              {{form.lon}}
<!--              <input type="text" class="form-control" name="username" placeholder="Lon">-->
            </div>
            <div class="form-group flex-me">
              {{form.is_more_than_5}}
<!--              <input name="accept" type="checkbox">-->
              <span> Is more than 5 ?</span>
            </div>
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}
                    <p style="color:red;text-align: center; margin:0px">
                      <span>{{ error|escape }}</span>
                    </p>
                  {% endfor %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                  <p style="color:red;text-align: center; margin:0px">
                    <span>{{ error|escape }}</span>
                  </p>
                {% endfor %}

              {% endif %}

              {% if messages %}
                {% for message in messages %}
                  <p style="color:green;text-align: center;">{{message}}</p>
                {% endfor %}
              {% endif %}

              <button type="submit" class="btn btn-simple btn-block">Sign Up</button>
            </div>

<!--            <div id="create-post" class="modal fade">-->
<!--              <div class="modal-dialog">-->
<!--                <div class="modal-content">-->
<!--                  <div class="modal-header my-modal-header">-->
<!--                    <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                    <h3 class="text-center">Enter Card Details</h3>-->
<!--                  </div>-->
<!--                  <div class="modal-body my-modal-body">-->
<!--                    <div class="form-group">-->
<!--                      <label>Enter card holder name</label>-->
<!--                        <input type="text" name="nickname" placeholder="Name" class="form-control">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label>Enter card number</label>-->
<!--                      <input type="text" name="nickname" placeholder="xxxx xxxx xxxx xxxx" class="form-control">-->
<!--                  </div>-->
<!--                  <div class="row">-->
<!--                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">-->
<!--                      <div class="form-group">-->
<!--                        <label>Expiry Month</label>-->
<!--                        <input type="text" name="nickname" placeholder="mm" class="form-control">-->
<!--                    </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">-->
<!--                      <div class="form-group">-->
<!--                        <label>Expiry Year</label>-->
<!--                        <input type="text" name="nickname" placeholder="yy" class="form-control">-->
<!--                    </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">-->
<!--                      <div class="form-group">-->
<!--                        <label>Enter CVV</label>-->
<!--                        <input type="text" name="nickname" placeholder="-&#45;&#45;" class="form-control">-->
<!--                    </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                    <div class="row">-->
<!--                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">-->
<!--                        <button class="btn btn-simple btn-block" data-dismiss="modal">SUBMIT</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </form>
        </div>
      </div>
    </div>
  </section>
  <footer class="widget-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="bottom-list">
            <h6 >GET TO KNOW US</h6>
            <ul >
              <li ><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="bottom-list">
            <h6>LET US HELP YOU</h6>
            <ul >
              <li><a href="#">Legal Policy</a></li>
             <li><a href="#">Terms & Conditions</a></li>
<!--             <li><a href="#">Send Feedback</a></li>-->
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="bot-social">
            <h6>Connect with us</h6>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-google"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="bottom-list">
            <h6 >DOWNLOAD APP</h6>
            <div class="app-link">
              <ul >
                <li ><a href="#"><img src='{% static "assets/img/button-google-play.png" %}'></a></li>
                <li><a href="#"><img src='{% static "assets/img/button-app-store.png" %}'></a></li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </footer>


  

  <a id="scroll-up"><i class="fa fa-angle-up"></i></a>
  <script src='{% static "assets/js/jquery-3.3.1.min.js" %}'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src='{% static "assets/js/bootstrap-datepicker.min.js" %}'></script>
  
  <script src='{% static "assets/js/scripts.js" %}'></script>
</body>
</html>
