{% load staticfiles %}
<!doctype html>
<html lang="zxx">
<head>
  <!-- All Meta -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- page title -->
  <title>PropInfoShare</title>
   <meta name="description" content="Searching for online cab booking app? Laari Cabs is the best app that provides car booking services for city, outstation, airport & also provides rental car booking at very effective price. Get 24*7 support & cashless rides at a very effective price. Download the App Now!!">
  <!-- Favicon -->
  <link rel="shortcut icon" href='{ % static "assets/img/favicon.png" % }' type="image/x-icon">
  <!--All Css here -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400, 500, 700&display=swap">
  <link rel="stylesheet" type="text/css" href='{% static "assets/css/animate.min.css" %}'>


  <link rel="stylesheet" type="text/css" href='{% static "assets/css/bootstrap-datepicker.css" %}'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href='{% static "assets/icons/font-awesome/css/font-awesome.min.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "assets/css/style.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "assets/css/responsive.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "assets/css/hover.css" %}'>
</head>
<body>
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
      your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- Start Preloader Area-->

  <!-- Start header area -->
  <header id="header-area">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#"><img src='{% static "assets/img/logo.png" %}' class="img-fluid"></a>
      </div>

        <style>
            .thankyou{
            width: 100%;
            height: calc(100vh - 200px);
            display: flex;
            justify-content: center;
            align-items: center;
            }
            .thankyou-data{
            text-align: center;
}
.thankyou-data>h4 {
    font-size: 35px;
    margin-bottom: 20px;
}


.thankyou-data>p {
    font-size: 22px;
}
        </style>
  </header>
  <section class="service section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="thankyou">
             <div class="thankyou-data">
         <h4>You have been successfully signed up..</h4>
             <p>Please login to initiate the payment and complete your signup process.</p>
             </div>

         </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="widget-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="bottom-list">
            <h6 >GET TO KNOW US</h6>
            <ul >
              <li ><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="bottom-list">
            <h6>LET US HELP YOU</h6>
            <ul >
              <li><a href="#">Legal Policy</a></li>
             <li><a href="#">Terms & Conditions</a></li>
<!--             <li><a href="#">Send Feedback</a></li>-->
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="bot-social">
            <h6>Connect with us</h6>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-google"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="bottom-list">
            <h6 >DOWNLOAD APP</h6>
            <div class="app-link">
              <ul >
                <li ><a href="#"><img src='{% static "assets/img/button-google-play.png" %}'></a></li>
                <li><a href="#"><img src='{% static "assets/img/button-app-store.png" %}'></a></li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </footer>




  <a id="scroll-up"><i class="fa fa-angle-up"></i></a>
  <script src='{% static "assets/js/jquery-3.3.1.min.js" %}'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src='{% static "assets/js/bootstrap-datepicker.min.js" %}'></script>

  <script src='{% static "assets/js/scripts.js" %}'></script>
</body>
</html>
