{% load staticfiles %}
{% include 'base/header.html' %}
<div class="profilePage"></div>
    <div class="layout-content">
        <div class="layout-content-body">
            <div class="title-bar">
                <h1 class="title-bar-title">
                  <span class="d-ib">Change Password </span>
                  <!-- <a href=>Back</a> -->
                </h1>
            </div>
            <div class="row gutter-xs">
                <div class="col-md-8 card panel-body" id="">
                    <div class="col-sm-12 col-md-12">
                        <div class="demo-form-wrapper">
                            <form class="form form-horizontal" method="POST" enctype='multipart/form-data' action='/admin_panel/change_password/'>
                              {% csrf_token %}
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <label for="" class=" control-label">Old Password</label>
                                        <input id="" class="form-control" name="oldpassword" type="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <label for="" class=" control-label">New Password</label>
                                        <input id="" class="form-control" name="password" type="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <label for="" class=" control-label">Confirm Password</label>
                                        <input id="" class="form-control" name="confpassword" type="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class=" col-sm-8  col-md-8 ">
                                        <button class="btn btn-primary btn-block " type="submit" >Submit</button>
                                    </div>
                                </div>
                            </form>
                            {% if form.errors %}
                      				<br>
                       				<p style="color:red; margin-left: 150px">{{ form.non_field_errors.as_text |cut:"* "}}</p>
                        			{% endif %}

                        			{% if messages %}
                        			{% for message in messages %}
                        			<p style="color:green;text-align: center;">{{message}}</p>
                						 {% endfor %}
                						{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'base/footer.html' %}




<!------------Modal Start---------------------->
<div class="modal fade" id="change-pass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-body text-center">
                  <i class="fa fa-check"></i>
                  <h5>Changed successfully.</h5>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="window.location.href='profile.php'">Ok</button>
              </div>
            </div>
        </div>
    </div>
    <!------------Modal End---------------------->
